/*
    Author: Colby stewart
    Date: 2/8/2023
    Filename: style.css
*/

/*Reset CSS styles*/
body, header, nav, main, footer, h1, div, img, article, section, aside, figure, figcaption{
  margin: 0;
  padding: 0;
  border: 0;
}

/* Styles for all pages: body,  img, header, nav, main */
body {
  background-color: #000000;
}

img{
  max-width: 100%;
  display: block;
}

header{
  width: 50%;
  float: left;
}
header img{
  margin: 0 auto;
}
/*show mobile class hide tablet desktop class*/
.mobile{
  display: block;
}
.tablet-desktop{
  display: none;
}


nav{
  float:left;
  margin: 5em 20em 0 0;
  padding: 1%;
  margin-bottom: 1%;
}

nav ul{
  list-style-type: none; /*no bullet on my list items*/
  margin: 0;
  text-align: center;
}

nav li{
  display: inline-block;
  font-size: 1.5em;
  font-family: "Gloock";
  border-top: 4px solid #faf8f8;
}

nav li a{
  display: inline-block;
  color: #fff;
  text-align: center;
  padding: 0.5em 1em; /*top-bottom: 0.5 em, left-right: 1em */
  text-decoration: none; /*remove underline from link*/
}

nav li:first-child{
  border-top: none;  
}

.round{
  border-radius: 20px;
}

main{
  clear: left;
  background-color: #01aa0991;
  padding: 2%;
  font-size: 1.25em;
  max-width: 100%;
  font-family: "Mynerve";
}
/*new style for article*/
article{
  padding: 2%;
}
article h3{
  text-align: center;
}
article img{
  margin: 0 auto;
}
article ul{
  margin-left: 10%;
}
article:nth-of-type(2){
  background-color: rgba(231, 16, 34, 0.3);
}

.external-link{
  color: #f31404;
  font-weight: bold;
  text-decoration: none;
}

/* Contact page styles */
#contact{
  text-align: center;
}

#contact a{
  color: #666600;
  text-decoration: none;
}

.map{
  border: 8px solid #000;
  width: 95%;
  height: 50%;
}

/* Footer styles for all pages */
footer p {
  font-size: 0.75em;
  text-align: center;
  color: #fff;
  padding: 0 1em;
}

footer p a {
  color: #fff;
  text-decoration: none;
}

@media only screen and (min-width: 630px), print {
  /*Tablet Viewport: Show tablet-desktop class, hide mobile class*/
  .tablet-desktop{
  display: block;
  }
  .mobile{
  display: none;
  }
  /*Tablet Viewport: style rule for header*/
  header{
  padding-bottom: 2%;
  }
  /*Tablet Viewport: Style rules for nav area*/
  nav li{
  border-top: none;
  display: inline-block;
  border-right: 1px solid #fff;
  
  }
  nav li:last-child{
  border-right: none;
  }
  nav li a{
  padding: 0.1em .70em;
  }
  /*Tablet Viewport: Style rules for the main content area*/
  main ul{
  margin: 0 0 4% 10%;
  }

  .grid{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
  }
  aside{
    text-align: center;
    font-size: 1.25em;
    font-style: italic;
    font-weight: bold;
    padding: 2%;
    background-color: rgb(112, 152, 170);
    box-shadow: 5px 5px 10px #012200;
    text-shadow: 5px 5px 10px #000000;
    border-radius: 0 15px;
  }
  .grid-item4{
    grid-column: 1 / span 3;
  }
   
  .tel-num{
  font-size: 1.25em;
  }
  /*contact page*/
  .map{
  width: 600px;
  height: 450px;
  }
  #form{
    margin-top: 2%;
    background-color: #01aa0991;
    padding: 2%;
  }
  
  #form h2{
    text-align: center;
  }

  /*style rule for form elements*/
  fieldset,input,select,textarea{
    margin-bottom: 2%;
  }
  fieldset legend{
    font-weight: bold;
    font-size: 1.25em;
  }
  label{
    display: block;
    padding-top: 2%;
  }
  form #submit{
    margin: 0 auto;
    display: block;
    padding: 2%;
    background-color: #160466;
    font-size: 1em;
    border-radius: 10px;
    }
  /* new tablet view style rule for table*/
  table{
    border: 1px solid #070707;
    border-collapse: collapse;
    margin: 0 auto;
    width: 100%;
  }
  caption{
    font-size: 1.5em;
    font-weight: bold;
    padding: 1%;
  }
  th, td{
    border: 1px solid #000;
    padding: 2%;
  }
  th{
    background-color: #181717;
    color: #f3f1f1;
    font-size: 1.15em;
  }
  tr:nth-child(odd){
    background-color: #c9ec03;
  }

  /*tablet view style rule for form element*/
  #form{
    width: 70%;
    margin: 0 auto;
  }

  }
  /*Media query for desktop viewport*/  /*769px*/
  @media only screen and (min-width: 1015px), print{
  /*desktop viewport: style rule for header*/
    header{
      width: 25%;
      float: left;
      padding-bottom: 0;
    }
    /*desktop viewport: style rules for the nav area*/
    nav{
      float: right;
      width: 70%;
      margin: 4em 1em 0 0;
    }
    nav ul{
      text-align: right;
      }
    nav li{
      border: none;
    }
    nav li a{
      padding: 0.5em 1em;
    }
    nav li a:hover{
      color: rgb(16, 235, 8);
      background-color: #061a8d;
      border-radius: 20px;
    }
  /*desktop viewport: style rules for the main area*/
    main{
    clear: left;
    }
    main h1{
      font-size: 1.8em;
    }
    article h3{
      font-size: 1.75em;
    }

    .frame{
      opacity: 0.9;
    }

    .frame:hover{
      opacity: 1;
      box-shadow: 10px 10px 10px #011312;

    }
    /*syle rule for form and btn53+6 elements*/
    #form{
      width: auto;
    }
    .form-grid{
      display: grid;
      grid-gap: 20px;
    }
    .btn{
      grid-column: 1 / span 3;
  }
  }

  /*media query for large desktop viewport*/
  @media only screen and (min-width: 1921px){
    #container{
      width: 1920px;
      margin: 0 auto;
    }

    table{
      width: 80%;
    }
    
  }

  /*media query for printing*/
  @media print{
    body{
      background-color: #f2f2f2;
      color: #000;
    }
    nav li a{
      color: #000;
    }
  }
